<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="card shadow p-4">
    <h2 class="mb-3">Nosotros</h2>
    <p>
      Somos los desarrolladores de Cursos App, una aplicación creada en Angular 18
      para gestionar inscripciones de estudiantes en distintos cursos.
    </p>
    <p>
      Nuestro objetivo es ofrecer una plataforma sencilla, ordenada y fácil de usar,
      permitiendo registrar estudiantes, almacenar la información y visualizar los cursos inscritos.
    </p>
    <p>
      Para el desarrollo utilizamos Angular, Bootstrap y localStorage, logrando una
      aplicación funcional, dinámica y con una interfaz clara.
    </p>

    <hr>

    <div class="text-center mt-3">
      <small class="text-muted">
        © 2026 Sergio - Todos los derechos reservados.
      </small>
    </div>
  </div>
</div>